<div class="container__big-card">
  <a href="">
  <div class="big-card__photo">
  <img src="https://assets.xboxservices.com/assets/60/0a/600a9692-6c6b-4041-9bd1-fdb8b9090ef4.jpg?n=543216_GLP-Page-Hero-1084_1920x1080_02.jpg"
    alt=""
    width=""
    height="200px"
    srcset="">
  </div>
    <div class="big-card_title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
      <p>
        <a href="#">
        Confira o que mudou nessa nova versão :D
        </a>
      </p>
    </div>
  </a>
</div>
