<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000053757/82dc03395aaad04fe6112d41a1a716b8398852687ff919dd2fa36f81d75ac0b2"
        alt=""
        srcset="">
      </div>
        <div class="small-card_title">
          <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
  </div>
</div>
<div class="container__small-card__separator">
<hr/>
</div>




